*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: darkblue;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* gap: 5rem; */
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: rgba(7, 32, 52, 0.845);
    /* border: 2px solid black; */
}

.Scores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.score{
    font-size: 3rem;
}

.msg-container{
    text-align: center;
    margin-top: 3rem;
}

.result{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.choices, .scores, .msg-container{
    margin-top: 70px;
}